.row
  .small-12
    %h3
      You know how it sucks when Chyld goes around the room giving numbers to people and then you have to try to remember what number he gave you and figure out who else he gave that number to and where you're all meeting up to work?
      %span This fixes that.