<div class="row">
  <div class="large-6 columns">
    <h1>Homewrkr <%= image_tag 'logo.jpg', :id => 'logo' %></h1>
  </div>
  <div class="large-6 columns">
    <ul class="button-group round even-1 alert right">
      <li><%= link_to 'Home', root_path, :class => 'button success' %></li>
      <li><%= link_to('Students', students_path, :class => 'button success') %></li>
      <li><%= link_to('Assignments', assignments_path, :class => 'button success') %></li>
    </ul>
  </div>
</div>